.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 436p;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  font-family: "Cabinet Grotesk Bold", "Times New Roman", Times, serif;
  line-height: 20px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/modal-close.svg);
  border: none;
  opacity: 2;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid;
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
  padding: 0;
  margin: 8px 0 24px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__radio-input {
  accent-color: black;
  cursor: pointer;
}

.modal__submit:hover {
  cursor: pointer;
  transition: 0.4s;
  background: rgba(0, 0, 0, 1);
}

.modal__submit {
  max-width: 124px;
  max-height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 16px;
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk Bold", "Times New Roman", Times, serif;
  font-weight: 700;
  size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
