.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-width: 1440px;
}

.header__logo {
  margin-right: 24px;
}

.header__nav-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__date-location {
  margin: 0 auto 0 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Cabinet Grotesk Bold", "Times New Roman", Times, sans-serif;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Cabinet Grotesk Bold", "Times New Roman", Times, sans-serif;
  border: none;
  background: transparent;
  transition: 0.4s;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__avatar {
  width: 40px;
  height: 40px;
  left: 1320px;
  border-width: 1px;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  background: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 12px;
}

.header__auth-button {
  background: none;
  border: none;
  color: #000;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  transition: none;
}

.header__username {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Cabinet Grotesk Bold", "Times New Roman", Times, sans-serif;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__profile-link {
  margin: 0 12px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.header__profile-link:hover {
  text-decoration: underline;
}
