.sidebar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 245px;
  flex-shrink: 0;
}

.sidebar__avatar {
  max-width: 100%;
  width: 56px;
  height: 56px;
}

.sidebar__username {
  margin: 0;
  display: flex;

  padding: 20px 0;
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
