.footer {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  width: 1358px;
  height: 20px;
  top: 1040px;
  margin-top: 176px;
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
}

.footer__date {
  font-family: "Cabinet Grotesk Regular", "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
